<nav
  class="bg-sky-500 relative flex flex-wrap items-center justify-between px-2 py-3 mb-3"
>
  <div class="px-6 mx-auto flex flex-wrap items-center justify-between">
    <div
      class="w-full relative flex justify-between lg:w-auto px-4 lg:static lg:block lg:justify-start"
    >
      <div class="flex">
        <a href="/">
          <img
            class="w-12 h-12"
            src="../../assets/img/hitech_logo_PNG-removebg-preview.png"
            alt=""
          />
        </a>
        <a
          class="leading-relaxed inline-block mr-1 mt-1 py-2 pl-2 whitespace-nowrap uppercase text-white font-serif"
          href="/"
        >
          <p class="text-xs">HITECH SOLUTION</p>
          <p class="icontext">IT SERVICE SUPPORT| ICT | TECHNOLOGY</p>
        </a>
      </div>

      <button
        class="text-black cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button"
        (click)="toggleNavbar()"
      >
        <fa-icon class="text-white" [icon]="icon"></fa-icon>
      </button>
    </div>
    <div
      [ngClass]="{ hidden: !showMenu, flex: showMenu }"
      class="lg:flex lg:flex-grow items-center"
    >
      <ul class="flex flex-col lg:flex-row list-none ml-auto gap-3">
        <li class="nav-item">
          <a
            class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
            href="/"
          >
            <i
              class="fab fa-facebook-square text-sm leading-lg text-black opacity-10"
            ></i
            ><span class="ml-2 text-sm font-mono">Нүүр хуудас</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-50"
            href="/service"
          >
            <i
              class="fab fa-facebook-square text-sm leading-lg text-black opacity-95"
            ></i
            ><span class="ml-2 text-sm font-mono">Үйлчилгээ</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
            href="/about"
          >
            <i
              class="fab fa-facebook-square text-sm leading-lg text-black opacity-95"
            ></i
            ><span routerLink="slider" class="ml-2 text-sm font-mono"
              >Бидний тухай</span
            >
          </a>
        </li>
        <li class="nav-item">
          <a
            class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
            href="/contact"
          >
            <i
              class="fab fa-facebook-square text-sm leading-lg text-black opacity-75"
            ></i
            ><span class="ml-2 text-sm font-mono">Холбоо барих</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
