<div class="relative bghero bg-cover bg-center sm:h-4/5">
  <app-navbar></app-navbar>
  <div
    class="flex flex-wrap static items-center justify-center max-w-7xl h-4/5 px-3 xl:-ml-28"
  >
    <div class="">
      <div class="text-center py-2"></div>

      <div class="text-white text-5xl py-2">HITECH SOLUTION</div>

      <div class="text-white text-sm max-w-2xl">
        Технологийн чиг хандлагад тулгуурлан хэрэглэгчдийн хүсэл зорилгод нийцэж
        ажиллана.
      </div>
      <div class="text-blue-400 xl:text-xs max-w-xl py-2">
        Манай компани анх 2013 оноос мэдээлэл технологийн салбарт гадаад
        худалдаа, компьютерийн засвар, түүний дагалдах төхөөрөмж борлуулалтын
        чиглэлээр үйл ажиллагаагаа явуулж эхэлсэн 100 хувь дотоодын хөрөнгө
        оруулалттай компани юм.
      </div>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white text-sm py-2 px-3 rounded-full"
      >
        Дэлгэрэнгүй
      </button>
    </div>
  </div>
  <div
    class="text-white max-w-screen-xl mx-auto text-xl sm:m-2 pl-5 md:ml-3 lg:ml-3 min-[712px]:ml-20 xl:ml-36 2xl:ml-48"
  >
    <a class="" href="https://www.facebook.com/tmktelmen" target="_blank">
      <fa-icon [icon]="facebook" class="pr-5"></fa-icon
    ></a>

    <fa-icon [icon]="instagram" class="px-5"></fa-icon>

    <fa-icon [icon]="twitter" class="px-5"></fa-icon>
    <fa-icon [icon]="phone" class="px-5"></fa-icon>
  </div>
</div>
<app-countup></app-countup>
