<!-- animate__backInDown">
  <div class="flex justify-between">
    <div>
      <div>
        <h1>het</h1>
      </div>
      <div class="flex justify-between">
        <h1>e2323</h1>
        <h2>adsasdasd</h2>
      </div>

    
   
    </div>
  </div>
</div> -->

<div
  class="w-full max-w-screen-xl mx-auto p-4 md:py-8 flex justify-between flex-wrap"
>
  <div class="w-3/4 align-text-bottom">
    <h1 class="font-bold mx-auto text-xl text-ellipsis pt-12">
      Ажилчдын бүтээмж, сэтгэл ханамжийг нэмэгдүүлэх орчин үеийн ажлыг байрыг
      бий болгоход тань бид тусалъя.
    </h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos odio eveniet
      magnam accusantium sit repellat maxime animi totam provident minima?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quam
      deserunt eveniet?
    </p>
  </div>

  <div>
    <div class="items-center text-center">
      <h1 class="text-sky-800 text-6xl">{{ projectcount2 }}</h1>
      <p>Гүйцэтгэсэн ажил</p>
    </div>
    <div class="items-center text-center">
      <h1 class="text-sky-800 text-6xl">{{ projectcount }}</h1>
      <p>Хамтрагч байгууллага</p>
    </div>
    <div class="items-center text-center">
      <h1 class="text-sky-800 text-6xl">{{ projectcount3 }}</h1>
      <p>Жилийн туршлага</p>
    </div>
  </div>
</div>
