<div class="servicebg">
  <app-navbar> </app-navbar>
  <div
    class="text-center mx-auto text-xl xl:pt-52 md:pt-10 sm:pt-10 lg:pt-10 2xl:pt-52 text-white max-w-7xl h-4/5"
  >
    "HITECH SOLUTION" компанийн олон жилийн туршлагатай, мэргэшсэн инжөнөрийн
    баг ТАНД мэдээллийн төхнологийн дэлхийн стандарт уйлчилгээг узуулэхээр зорин
    ажилладаг. Байгууллагын тань ІТ-ын тусламж, уйлчилгээг бурэн хариуцан
    ажиллах IT аутсорсинг уйлчилгээ, оффисын хэвлэх, хувилах төхөрөмжийг таатай
    нөхцөлөөр худалдан авах, худалдан авалтын дараах арчилгаа ба уйлчилгээ,
    оффисын хэрэглээний Майкрософт 365 программууд, хяналтын камөрын клауд
    уйлчилгээ зэргийг санал болгож байна.
  </div>
</div>
<app-card></app-card>
