<!-- Container for demo purpose -->
<div class="contactbg">
  <app-navbar></app-navbar>
  <div class="container max-h-72 mx-auto md:px-6">
    <!-- Section: Design Block -->

    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->
</div>
<section class="mb-32 text-center">
  <div class="py-6 md:px-12">
    <div class="container mx-auto xl:px-32">
      <div class="grid items-center lg:grid-cols-2">
        <div class="mb-12 md:mt-12 lg:mt-0 lg:mb-0">
          <div
            class="relative z-[1] block rounded-lg bg-[hsla(0,0%,100%,0)] px-6 py-3 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[30px] dark:bg-[#d3f1f5ec] dark:shadow-black/20 md:px-12 lg:-mr-14"
          >
            <h2 class="mb-12 text-xl text-white font-bold">
              Бидэнтэй холбогдох
            </h2>
            <div class="text-white">
              <fa-icon [icon]="phone" class="px-5">89640200d</fa-icon>
              Call
              <a href="tel:+89640200"></a>
              <fa-icon [icon]="mail" class="px-5"></fa-icon>
              <p>
                <a href="mailto:someone@example.com"
                  >support@hitechsolution.mn</a
                >
              </p>
              <fa-icon [icon]="facebook" class="px-5"></fa-icon>
              <fa-icon [icon]="instagram" class="px-5"></fa-icon>
              <fa-icon [icon]="twitter" class="px-5"></fa-icon>
            </div>
          </div>
        </div>
        <div class="md:mb-12 lg:mb-0">
          <div
            class="relative h-[400px] rounded-lg shadow-lg dark:shadow-black/20"
          >
            <iframe
              src="https://maps.google.com/maps?width=541&amp;height=400&amp;hl=en&amp;q=american denj&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              class="absolute left-0 top-0 h-full w-full rounded-lg"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
