<div class="relative bghero bg-cover bg-center">
  <app-navbar></app-navbar>
  <div
    class="flex flex-wrap static items-center justify-center max-w-7xl h-4/5 px-3"
  >
    <div class="xl:pl-40">
      <div class="text-center"></div>

      <div class="text-white font text-5xl py-2">HITECH SOLUTION</div>

      <div class="text-white text-sm max-w-2xl">
        Технологийн чиг хандлагад тулгуурлан хэрэглэгчдийн хүсэл зорилгод нийцэж
        ажиллана.
      </div>
      <div class="text-blue-400 xl:text-xs max-w-xl py-2">
        Манай компани анх 2013 оноос мэдээлэл технологийн салбарт гадаад
        худалдаа, компьютерийн засвар, түүний дагалдах төхөөрөмж борлуулалтын
        чиглэлээр үйл ажиллагаагаа явуулж эхэлсэн 100 хувь дотоодын хөрөнгө
        оруулалттай компани юм.
      </div>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white text-sm py-2 px-3 rounded-full"
      >
        <a href="/"> Дэлгэрэнгүй</a>
      </button>
    </div>
  </div>

  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8 hidden sm:block">
    <ul class="flex text-xl text-black -mt-10">
      <li>
        <a
          class="t"
          href="hhttps://www.facebook.com/HiTechSolutionLLC"
          target="_blank"
        >
          <fa-icon [icon]="facebook" class="pr-8"></fa-icon
        ></a>
      </li>
      <li>
        <a
          class=""
          href="hhttps://www.facebook.com/HiTechSolutionLLC"
          target="_blank"
        >
          <fa-icon [icon]="twitter" class="pr-8"></fa-icon
        ></a>
      </li>
      <li>
        <a
          class=""
          href="hhttps://www.facebook.com/HiTechSolutionLLC"
          target="_blank"
        >
          <fa-icon [icon]="instagram" class="pr-8"></fa-icon
        ></a>
      </li>
      <li>
        <a
          class=""
          href="hhttps://www.facebook.com/HiTechSolutionLLC"
          target="_blank"
        >
          <fa-icon [icon]="phone" class="pr-8"></fa-icon
        ></a>
      </li>
    </ul>
  </div>
</div>
<div class="flex w-full max-w-screen-xl mx-auto p-4 md:py-8">
  <div>
    <h1>hello pizda</h1>
    <p>lalar</p>
  </div>
  <div>
    <app-countup></app-countup>
  </div>
</div>
<!-- CARD FOR SERVICE -->

<!-- <app-helpbar></app-helpbar> -->
<app-card></app-card>
<app-partners></app-partners>
