.bghero {
  background-image: url(../../../assets/img/hero2.jpg);
  background-repeat: no-repeat;

  background-size: cover;

  height: 750px;
}
// .element-class {
//   position: relative;
// }

// .element-class:before,
// .element-class:after {
//   content: "";
//   display: block;
//   position: absolute;
//   background-color: transparent;
//   pointer-events: none;
// }

// .element-class:before {
//   top: 0;
//   left: 0;
//   right: 80%;
//   bottom: 80%;
//   border-top: 5px solid white;
//   border-left: 5px solid white;
// }

// .element-class:after {
//   top: 80%;
//   left: 80%;
//   right: 0;
//   bottom: 0;
//   border-bottom: 5px solid white;
//   border-right: 5px solid white;
// }
