<div class="relative bghero bg-cover bg-center">
  <app-navbar></app-navbar>
  <div
    class="flex mx-auto text-center flex-wrap items-center justify-center max-w-7xl h-4/5"
  >
    <div class="t">
      <div class="text-white font text-7xl l py-2">HITECH SOLUTION</div>

      <div class="text-white text-xl max-w-2xl">
        Технологийн чиг хандлагад тулгуурлан хэрэглэгчдийн хүсэл зорилгод нийцэж
        ажиллана.
      </div>
      <div class="text-blue-400 xl:text-sm max-w-xl items-center py-3">
        <p class="xl:ml-16 md:ml-10">
          Манай компани анх 2013 оноос мэдээлэл технологийн салбарт гадаад
          худалдаа, компьютерийн засвар, түүний дагалдах төхөөрөмж борлуулалтын
          чиглэлээр үйл ажиллагаагаа явуулж эхэлсэн 100 хувь дотоодын хөрөнгө
          оруулалттай компани юм.
        </p>
      </div>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white text-sm py-2 px-3 rounded-full"
      >
        <a href="/"> Дэлгэрэнгүй</a>
      </button>
    </div>
  </div>

  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8 hidden sm:block">
    <ul class="flex text-xl text-white -mt-10">
      <li>
        <a
          class="t"
          href="hhttps://www.facebook.com/HiTechSolutionLLC"
          target="_blank"
        >
          <fa-icon [icon]="facebook" class="pr-8"></fa-icon
        ></a>
      </li>
      <li>
        <a
          class=""
          href="hhttps://www.facebook.com/HiTechSolutionLLC"
          target="_blank"
        >
          <fa-icon [icon]="twitter" class="pr-8"></fa-icon
        ></a>
      </li>
      <li>
        <a
          class=""
          href="hhttps://www.facebook.com/HiTechSolutionLLC"
          target="_blank"
        >
          <fa-icon [icon]="instagram" class="pr-8"></fa-icon
        ></a>
      </li>
      <li>
        <a class="" href="tel:+89640200" target="_blank">
          <fa-icon [icon]="phone" class="pr-8"></fa-icon
        ></a>
      </li>
    </ul>
  </div>
</div>

<!-- CARD FOR SERVICE -->

<!-- <app-helpbar></app-helpbar> -->
<app-countup></app-countup>
<app-partners></app-partners>
