<div class="relative bghero bg-cover bg-center">
  <app-navbar></app-navbar>
  <div
    class="flex mx-auto text-center flex-wrap items-center justify-center max-w-7xl h-4/5"
  >
    <div class="t">
      <div class="text-white font-serif text-2xl l py-2">
        Таньд технологийн асуудлууд тулгарч байна уу?
      </div>

      <div class="text-white text-xl max-w-2xl"></div>
      <div class="text-blue-400 xl:text-sm max-w-xl items-center py-3">
        <p class="">
          Бид таньд Мэдээллийн технологийн аутсорсинг, Microsoft 365
          үйлчилгээ,Сервер болон Стореж, гадаад дотоод сүлжээний зохион
          байгуулалт, тохиргоо суурилуулалт,AD DC file share, file permission,
          үйлчилгээг мэргэжлийн өндөр түвшинд хийж гүйцэтгэнэ
        </p>
      </div>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white text-sm py-2 px-3 rounded-full"
      >
        <a href="/"> Дэлгэрэнгүй</a>
      </button>
    </div>
  </div>

  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8 hidden sm:block">
    <ul class="flex text-xl text-white -mt-10">
      <li>
        <a
          class="t"
          href="https://www.facebook.com/HiTechSolutionLLC"
          target="_blank"
        >
          <fa-icon [icon]="facebook" class="pr-8"></fa-icon
        ></a>
      </li>
      <li>
        <a
          class=""
          href="https://www.facebook.com/HiTechSolutionLLC"
          target="_blank"
        >
          <fa-icon [icon]="twitter" class="pr-8"></fa-icon
        ></a>
      </li>
      <li>
        <a
          class=""
          href="https://www.facebook.com/HiTechSolutionLLC"
          target="_blank"
        >
          <fa-icon [icon]="instagram" class="pr-8"></fa-icon
        ></a>
      </li>
      <li>
        <a
          class=""
          href="tel:+
        7755 9911"
          target="_blank"
        >
          <fa-icon [icon]="phone" class="pr-8"></fa-icon
        ></a>
      </li>
    </ul>
  </div>
</div>

<!-- CARD FOR SERVICE -->

<!-- <app-helpbar></app-helpbar> -->

<app-countup></app-countup>
<app-partners></app-partners>
<app-whywe>pp</app-whywe>
<app-comments></app-comments>
