<router-outlet> </router-outlet>
<!-- <app-whywe></app-whywe> -->
<button
  *ngIf="isMenuScrolled"
  (click)="scrollToTop()"
  class="flex text-white transition-all duration-300 fixed bottom-5 right-7 w-10 h-10 bg-gradient-to-r from-sky-600 from-10% via-sky-500 via-30% to-sky-500 to-90% hover:bg-slate-800 rounded-full"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="2.5"
    stroke="currentColor"
    class="w-6 h-6 m-auto"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M4.5 15.75l7.5-7.5 7.5 7.5"
    />
  </svg>
</button>
<app-footer></app-footer>
