<style>
  @import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);
</style>
<div class="pricebg"></div>
<div class="w-full mx-autopx-5 py-10 pb-96 text-gray-600 mb-10">
  <div class="text-center max-w-xl mx-auto">
    <h1 class="text-5xl md:text-6xl font-bold mb-5">Pricing</h1>
    <h3 class="text-xl font-medium mb-10">
      Microsoft 365 бизнесийн байгууллагад зориулсан багцууд
    </h3>
  </div>
  <div class="w-full md:flex mb-5">
    <div
      class="w-full md:w-1/4 md:max-w-none bg-white px-8 md:px-10 py-8 md:py-10 mb-3 mx-auto md:my-6 rounded-md shadow-lg shadow-gray-600 md:flex md:flex-col"
    >
      <div class="w-full flex-grow">
        <h2 class="text-center font-bold uppercase mb-4">BUSINESS</h2>
        <h3 class="text-center font-bold text-4xl mb-2">
          $5<span class="text-lg">/mo</span>
        </h3>

        <ul class="text-sm px-5 mb-8">
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> 300 хэрэглэгч
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> 5 хүртэлх төхөөрөмж дээр
            оффиссын програмуудыг лицензтэй суулгаж ашиглана.
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> Оффис 2019 компьютерт
            зориулсан суурин аппликейшнууд (Outlook, Word, Excel, OneNote, Power
            Point г.м)
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> Вэб аппликейшнууд (Word,
            Excel, Power Point)
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> 15 хүртэлх төхөөрөмж дээр
            мөн Macs хэрэглэгч дээр ажиллах
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> 1 TB хүртэлх One Drive
            дундын үүлэн хадгалах сан
          </li>
        </ul>
      </div>
      <div class="w-full">
        <button
          class="font-bold bg-sky-400 hover:bg-gray-700 text-white rounded-md px-10 py-2 transition-colors w-full"
        >
          Buy Now
        </button>
      </div>
    </div>
    <div
      class="w-full md:w-1/4 md:max-w-none bg-white px-8 md:px-10 py-8 md:py-10 mb-3 mx-auto md:-mx-3 md:my-3 rounded-md shadow-lg shadow-gray-600 md:relative md:z-50 md:flex md:flex-col"
    >
      <div class="w-full flex-grow">
        <h2 class="text-center font-bold uppercase mb-4">BUSINESS STANDART</h2>
        <h3 class="text-center font-bold text-3xl md:text-4xl mb-2">
          $15<span class="text-lg">/mo</span>
        </h3>

        <ul class="text-sm px-5 mb-8">
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> 300 хэрэглэгч
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> - И-мэйл домэйн хаяг,
            50GB багтаамж
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> - Оффис 2019 компьютерт
            зориулсан суурин аппликейшнууд (Outlook, Word, Excel, OneNote, Power
            Point г.м)
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> - Вэб аппликейшнууд
            (Word, Excel, Power Point)
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> - 15 хүртэлх төхөөрөмж
            дээр мөн Macs хэрэглэгч дээр ажиллах
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i>1 TB хүртэлх One Drive
            дундын үүлэн хадгалах сан
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> - Байгууллагын дундын
            дотоод сүлжээ SharePoint
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> - 250 хүртэлх хүн
            хамрагдах онлайн хурал хийх боломж
          </li>
        </ul>
      </div>
      <div class="w-full">
        <button
          class="font-bold bg-sky-400 hover:bg-gray-700 text-white rounded-md px-10 py-2 transition-colors w-full"
        >
          Buy Now
        </button>
      </div>
    </div>
    <div
      class="w-full md:w-1/4 md:max-w-none bg-white px-8 md:px-10 py-8 md:py-10 mb-3 mx-auto md:-mx-3 md:mb-0 rounded-md shadow-lg shadow-gray-600 md:relative md:z-50 md:flex md:flex-col"
    >
      <div class="w-full flex-grow">
        <h2 class="text-center font-bold uppercase mb-4">BUSINESS BASIC</h2>
        <h3 class="text-center font-bold text-4xl md:text-5xl mb-2">
          $35<span class="text-lg">/mo</span>
        </h3>

        <ul class="text-sm px-5 mb-8">
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> 300 хэрэглэгч
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> - И-мэйл домэйн хаяг,
            50GB багтаамж
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> - Вэб аппликейшнууд
            (Word, Excel, Power Point)
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i>- 1 TB хүртэлх One Drive
            дундын үүлэн хадгалах сан
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> Байгууллагын дундын
            дотоод сүлжээ SharePoint
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> 250 хүртэлх хүн хамрагдах
            онлайн хурал хийх боломж
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i>Онлайн багийн ажиллагааны
            Microsoft Team талбар
          </li>
        </ul>
      </div>
      <div class="w-full">
        <button
          class="font-bold bg-sky-400 hover:bg-gray-700 text-white rounded-md px-10 py-2 transition-colors w-full"
        >
          Buy Now
        </button>
      </div>
    </div>
    <div
      class="w-full md:w-1/4 md:max-w-none bg-white px-8 md:px-10 py-8 md:py-10 mb-3 mx-auto md:my-3 rounded-md shadow-lg shadow-gray-600 md:flex md:flex-col"
    >
      <div class="w-full flex-grow">
        <h3 class="text-center text-xl font-bold uppercase mb-2">
          BUSINESS PREMIUM
        </h3>
        <h3 class="text-center font-bold text-4xl md:text-5xl mb-2">
          $35<span class="text-lg">/mo</span>
        </h3>
        <ul class="text-sm px-5 mb-8">
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> - Azure AD Premium P1
            лиценз (Aппликейшнүүд болон үйлчилгээнүүдрүү аюулгүй хандах эрх,
            хэрэглэгч ба группууд, нууц үг зэргийг зохицуулах үйлчилгээ)
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> - Microsoft Intune (iOS,
            Android, Mac OS болон бусад бүх үйлдлийн системтэй төхөөрөмжүүдээ
            зайнаас удирдах боломж)
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> - И-мэйл домэйн хаяг,
            50GB багтаамж
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> - Илүү дэвшилтэт, илүү
            нарийвчлалтай Мэдээллийн аюулгүй байдлын хамгаалалт
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> - Microsoft Intune (iOS,
            Android, Mac OS болон бусад бүх үйлдлийн системтэй төхөөрөмжүүдээ
            зайнаас удирдах боломж)
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> - Байгууллагын дундын
            дотоод сүлжээ SharePoint
          </li>
          <li class="leading-tight">
            <i class="mdi mdi-check-bold text-lg"></i> Dolor sit amet*
          </li>
        </ul>
      </div>
      <div class="w-full">
        <button
          class="font-bold bg-sky-400 hover:bg-gray-700 text-white rounded-md px-10 py-2 transition-colors w-full"
        >
          Buy Now
        </button>
      </div>
    </div>
  </div>
  <div class="text-center max-w-xl mx-auto">
    <p class="text-xs leading-tight">
      Microsoft 365 нь үүлэн технологийн тусламжтайгаар хувь хүн болон албан
      байгууллагуудад бүтээмжээ нэмэгдүүлж, амжилтаа хурдасгах бүрэн боломжийг
      олгож байна.
    </p>
  </div>
</div>

<!-- BUY ME A BEER AND HELP SUPPORT OPEN-SOURCE RESOURCES -->
